body {
  font-family: Roboto, Helvetica, sans-serif;
}

table {
  border: 1px solid #eee;
  border-collapse: collapse;
}

td, th {
  margin: 0;
  border: 0;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #eee;
}